body {
    background-color: #f8f9fa;
    padding-top: 90px;
    padding-bottom: 90px;
}

.footer,
.navbar {
    background-color: #343a40;
    color: white;
}

.footer p {
    margin: 10px;
}

.profile-picture {
    max-width: 150px;
    border-radius: 50%;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}